$primaryColor: #3b3b3b; 
$secondaryColor: #3c2e49;
$accentColor: #797979;
$greyColor: #ccc;

$defaultFont: "Elms Sans", sans-serif;
$lightWeight: 300;
$normalWeight: 500;
$leading: 150%;

$gutter: 10px;